# Build directories
build/*

# Hidden directories, created by Vivado.
.*/*

# Vivado logs and TCL journals.
vivado*.log
vivado*.jou
usage_statistics*

# Local settings.
# E.g. disabling REPORT, CHECKPOINT, NETLIST.
tcl/local.tcl
